/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("Screenshot_20230209_010256.png");
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("background.png");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("Screenshot_20230129_120137.png");
} */
